
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


header {
    position: relative;
    background-color: #292847;
    padding: 40px 0;
    width: 100%;
}

input {
    font-size: 16px;
    background-color: transparent;
    padding: 10px 13px;
    border-radius: 20px;
    width: 300px;
    border: 2px solid #8c8b9b;
    position: absolute;
    font-weight: 700;
    top: 25%;
    right: 1%;
}


input::placeholder {
    color: #8c8b9b;;
}